[data-theme="dark"] {
    --background-color: #171717;
    --light-background: #38525f;
    --text-color: #f6f5f7;
    --smooth-white:#f6f5f7;
    --deep-text-color: #547b8f;
    --deepest-text-color:#233944;
    --text-selection-background: rgba(255, 77, 41, 0.774);
    --border-radius-tiny:.2rem;
    --codeblock-background:#272822;
    --codeblock-background-darker:#212121;
    --codeblock-codeName-color:#53554b;
    --enlighter-x11:#fddb93;
    --enlighter-x12:#66d9ef;
    --enlighter-x13:#f92672;
    --enlighter-x15:#f4956b;
    --enlighter-k3:#f92672;
    --enlighter-k3-x12:deeppink;
    & ::selection{
        color:var(--text-selection-color);
        background:var(--text-selection-background);
    }
}
[data-theme="light"] {
  --background-color: #f6f5f7;
  --light-background: #38525f;
  --text-color: #282729;
  --smooth-white:#272727;
  --deep-text-color: #d7dadb;
  --deepest-text-color:#e2e2e2;
  --text-selection-background: rgba(179, 60, 36, 0.534);
  --border-radius-tiny:.2rem;
  --codeblock-background:#272822;
  --codeblock-background-darker:#d4d4d4;
  --codeblock-codeName-color:#53554b;
  --enlighter-x11:#705d32;
  --enlighter-x12:#27626e;
  --enlighter-x13:#b8231e;
  --enlighter-x15:#914d30;
  --enlighter-k3:#251675;
  --enlighter-k3-x12:#801c51;
  & ::selection{
      color:var(--text-selection-color);
      background:var(--text-selection-background);
  }
}
h1, h2, h3, h4, h5, h6{
  font-family: 'Roboto', sans-serif;
}
h2{
  font-size: clamp(1rem, 1.5rem, 2rem);
}
body {
  background-color: var(--background-color);
  color: var(--text-color);
}
.content{
  padding: 1rem 2rem;
}
.container{
    max-width: 50rem;
    margin: auto;
}
kbd{
    border:1px solid #333333;
    padding: .1rem;
    border-radius: 4px;
}
// LOADER
.loader_container{
  &.hidden{
    display: none;
  }
  &::before{
  content: '';
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  }
}
.loader {
    display: inline-block;
    position: absolute;
    width: 200px;
    height: 200px;
    margin: auto;
    left: 0;
    right: 0;
    top: 30vh;
    z-index: 99;
    & path{
      stroke: var(--smooth-white);
      stroke-dasharray: 2200;
      stroke-dashoffset: 2200;
      animation: dash 3s linear;
      animation-iteration-count:infinite;
      &.scd-color{
        stroke: white;
        animation: dash 3s linear;
        animation-direction:reverse;
        animation-iteration-count:infinite;
        animation-delay:3s;
      }
    }
  }
  @keyframes dash {
    0% {
      stroke-dashoffset: 2200;
    }
    50%{
      stroke-dashoffset: 0;
    }
    100%{
      stroke-dashoffset: 2200;
    }
  }
// END LOADER
// TECHNOS HOVER EFFECT FOR PAGES OTHER THAN POSTS
.technos {
  display: flex;
  align-items: center;
  & a{
    text-decoration: none;
    display: inline-block !important;
    width: auto !important;
  }
  &> * {
      margin-right: .5rem;
      cursor:pointer;
  }
  & span{
    color:var(--deep-text-color);
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1rem;
  }
  & i{
    display: inline-block;
    color: var(--deep-text-color);
    font-size: 1.4rem;
  }
  
}
// END OF TECHNOS HOVER EFFECT FOR PAGES OTHER THAN POSTS
i:hover, span.emphasis{
  &.css{
    color:#27a0d4;
  }
  &.html{
    color:#e25f32;
  }
  &.js{
    color:#EAD41C;
  }
  &.wordpress{
    color:#1f6f93;
  }
}
span:hover, span.emphasis{
  &.tidbit{
    background:conic-gradient(at bottom left, deeppink, cyan);
    background-clip: text;
    color:transparent;
  }
  &.article{
    background:conic-gradient(at top right, rgb(6, 148, 6), rgb(0, 153, 255));
    background-clip: text;
    color:transparent;
  }
  background-size: 100% 100px;
  background-repeat: no-repeat;
  color:transparent;
}
