.header{
    max-width: 70rem;
    margin: 1rem auto;
    height: 4rem;
    color: var(--smooth-white);
    user-select: none;
    &__container{
        display: flex;
        justify-content: space-between;
        padding: 0 2rem;
        height: 100%;
        align-items: center;
    }
    & img{
        max-height: 4rem;
    }
    & a{
        text-decoration: none;
        color:inherit;
    }
    & .settings > *, .navigation > *{
        display: inline-block;
    }
    & #theme-switcher{
        color:var(--deep-text-color);
        cursor:pointer;
        &:hover{
            color:var(--smooth-white);
        }
    }
}
@media only screen and (max-width: 600px){
    .header{
        & .fa-search{
            padding-right: .5rem;
        }
    }
}