// SWITCH FROM FLEX TO GRID
.display--switch{
    text-align: right;
    padding: 1rem 2rem 0 0;
    color: var(--deep-text-color);
    user-select: none;
    margin-bottom: 1rem;
    & i{
        cursor: pointer;
    }
    & i+i{
        padding-left: .2rem;
    }
    & i.selected{
        cursor:default;
        color: var(--smooth-white);
    }
}
.posts{
    display: flex;
    flex-wrap: wrap;
    visibility: hidden;
    // Link to single.php
    & a{
        text-decoration: none;
        color: inherit;
        display: block;
        width: 100%;
    }
    // IF SQUARE DISPLAY IS SELECTED
    &.squared{
        margin: 0 auto;
        display: grid;
        grid-gap: 2rem;
        grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
        & .post{
            flex-direction: column;
            min-height: 100%;
            padding-bottom: 0;
            &__teaser{
                margin-left: 0;
                & h2{
                    padding-bottom: .5rem;
                    text-align: justify;
                    font-size: 1.2rem;
                    line-height: initial;
                    color: var(--text-color);
                }
            }
        }
    }
    &.reveal{
        visibility: visible;
    }
    // REGULAR DISPLAY (LINES)
    & .post{
        width: 100%;
        border-radius: .2rem;
        position: relative;
        transition: .1s all ease-in-out;
        margin-bottom: 2.4rem;
        &__teaser{
            color:var(--smooth-white);
            font-size: 1.2rem;
            & h2{
                font-weight: 600;
            }
            & p.post__excerpt{
                font-weight: 400;
                background-image: linear-gradient(90deg, #FF4C29, #630437);
                background-size: 0% 3px;
                background-repeat: no-repeat;
                background-position:left bottom;
                display: inline;
                transition: background-size 300ms ease;
            }
        }
        &:hover{
            & h2{
                color: #FF4C29;
            }
            & p.post__excerpt{
                background-size:100% 3px;
            }
        }
    }
}
// PAGINATION
nav.prev-next-posts {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    
    & a{
        color: var(--light-background);
        text-decoration: none;
        &:hover{
            color: var(--smooth-white);
        }
    }
}
.next-posts-link:empty, .prev-posts-link:empty{
    display: none;
}
//MEDIA QUERIES

@media only screen and (max-width: 800px) {
    .content{
        padding: 1rem;
    }
    .posts{
        padding: 1rem 1rem;
        &.squared{
            margin: 0 auto;
            display: grid;
            grid-gap: 3rem 2rem;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            & .post{
                flex-direction: column;
                min-height: 100%;
                &__teaser{
                    margin-left: 0;
                    & h2{
                        text-align: center;
                        font-size: 1.2rem;
                        line-height: initial;
                        color: var(--text-color);
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 600px){
    .display--switch{
        display: none;
    }
    .posts{
        padding: 1rem 1rem;
        &.squared{
            // PUT FLEX BACK
            display: flex;
            & .post{
                flex-direction: column;
                min-height: 100%;
                &__teaser{
                    margin-left: 0;
                    & h2{
                        text-align: center;
                        font-size: 1.2rem;
                        line-height: initial;
                        color: var(--text-color);
                    }
                }
            }
        }
    }
}