article{
    max-width: 800px;
    margin: 4rem auto 0 auto;
    color: var(--smooth-white);
    & h1 {
        font-size: 3rem;
        margin: 1rem 0 2rem;
    }
    & p{
        padding: 1rem;
    }
}
// CODE BLOCK STYLE
.enlighter-default{
    &.enlighter-t-monokai {
        background-color: var(--codeblock-background-darker);
        padding: 1rem 0!important;
        margin: 1rem 0 !important;
        overflow-x: scroll !important;
        overflow-y: hidden !important;
        & + pre + .enlighter-default{
            margin: 2rem 0 !important;
        }
    }
    & span{
        font-family: 'Consolas', monospace !important;
    }
    max-width: 100%;
    overflow: visible !important;
    margin: 3rem auto 0 auto !important;
    padding: 1rem !important;
    border-radius: var(--border-radius-tiny);
    margin: auto;
    font-size: .8rem !important;
    & .enlighter-toolbar {
        position: absolute;
        top: 10px !important;
        // right: 100px !important;
        color: transparent;
    }
    & span.codeName{
        text-transform: uppercase;
        position: absolute;
        top: -1.4rem;
        right: 2rem;
        background: var(--codeblock-background-darker);
        padding: 0.2rem 0.5rem;
        border-radius: 3px 3px 0 0;
        font-size: 1rem;
        color: var(--codeblock-codeName-color);
        user-select: none;
    }
    & .enlighter-g1{
        font-weight: normal !important;
    }
    & .enlighter-x11 {
        color: var(--enlighter-x11) !important;
    }
    & .enlighter-k3{
        color: var(--enlighter-k3) !important;
    }
    & .enlighter-k3 + .enlighter-x12{
        color: var(--enlighter-k3-x12) !important;
    }
    & .enlighter-x12, .enlighter-m0 {
        font-style: normal !important;
        color: var(--enlighter-x12) !important;
    }
    & .enlighter-x13{
        color: var(--enlighter-x13) !important;
    }
    & .enlighter-x15{
        color: var(--enlighter-x15) !important;
    }
    & .enlighter-text{
        color: var(--smooth-white) !important;
    }
}
.enlighter-btn-copy::before {
    content: "copied !";
    position: absolute;
    left: -160%;
    top: 0;
    opacity: 0;
    font-size: 1.5rem;
    line-height: 100%;
    background-image: linear-gradient(
        45deg,
        #CA4246 16.666%, 
        #E16541 16.666%, 
        #E16541 33.333%, 
        #F18F43 33.333%, 
        #F18F43 50%, 
        #8B9862 50%, 
        #8B9862 66.666%, 
        #476098 66.666%, 
        #476098 83.333%, 
        #A7489B 83.333%);
    background-clip: text;
    color: transparent;
}
.enlighter-btn-copy.alert--copied::before {
    animation: copyopacity 1000ms ;
}
// END OF CODE BLOCK STYLE
article section{
    padding: 0 .4rem;
}
// Animation on "copy" button click
@keyframes copyopacity{
    0% {opacity: 0;}
    75% {opacity: 1;}
    100% {opacity: 0;}
}